{% extends "mysite/layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans "Delete task" %}</legend>
                <h3>{% trans "Are you sure you want to delete task" %} "{{ object.title }}" ?</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">{% trans "Delete" %}</button>
                <a class="btn btn-outline-secondary" href="{% url 'tracker_home' %}">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
{% endblock %}